.btn {
  display: flex;
  
  justify-content: center;
  width: 12%;
  margin-left: auto;
  
  border-radius: 5px;
  border-style: none;
  color: #fff;
  background-color: red;
  transition: .3s;

}
.btn:hover {    
  background-color: rgba(233, 72, 72, 0.898);
}

.card {
  background-color: #fff;
  width: 24%;
  height: 11rem;
  margin: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: .5rem;
  border-radius: 10px;
  border: rgba(128, 128, 128, 0.245) solid 1px;
  box-shadow: 5px 9px 50px 7px rgba(0,0,0,0.24)
}

.name {
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.img{
  display: flex;
  padding: 0;
  justify-content: flex-start;
  justify-self: flex-start;
  margin-left: 1rem;
}

.minTemp, .maxTemp {
  padding-right: 1rem;
  margin-top: 1rem;
}


