.input {
    margin-right: .5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 4px;
}
.input:focus {
    outline: none;
}

.submit {
    border-radius: 5px;
    padding: 2px;
    border: yellow 2px solid;
    background-color: transparent;
    color: #FFF;
    width: 5rem;
    transition: .5s;
}

.submit:hover {
    background-color: yellow;
    color: #FFF;
    font-weight: 600;
}